header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 100px;
      margin-right: 60px;
    }

    ul {
      @include flexCenter;

      li {
        margin-right: 30px;

        a {
          font-size: 0.9rem;
        }
      }
    }
  }
  .contact {
    @include flexCenter;
    width: 200px;
    height: 80px;
    font-size: 0.8rem;
    background-color: black;
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
}

@media screen and(max-width:900px) {
  header {
    .inner {
      display: block;
      justify-content: flex-start;
      align-items: flex-start;

      img {
        width: 80px;
        margin: 10px 0;
      }

      ul {
        justify-content: flex-start;
      }
    }
    .contact {
      display: none;
    }
  }
}
