#news {
  writing-mode: vertical-rl;
  margin-bottom: 180px;

  .news_contents {
    margin: 80px 90px 0 0;

    .news_content {
      padding: 20px 30px;
      border-right: black 1px solid;

      time {
        font-size: 0.8rem;
      }
      .news_text {
        margin-right: 3px;
      }

      &:last-child {
        border-left: black 1px solid;
      }
    }
  }
}

@media screen and(max-width:768px) {
  #news {
    margin-bottom: 60px;

    .news_contents {
      margin: 20px 30px 0 0;

      .news_content {
        padding: 20px 10px;

        &:nth-child(3) {
          border-left: black 1px solid;
        }

        &:nth-child(4) {
          display: none;
        }

        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
}
