* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  text-align: center;
  margin: 80px 0;
  font-size: 1.6rem;
}
header p {
  font-family: "Kaisei Opti", serif;
}
header h1 {
  font-family: "M PLUS 1p", sans-serif;
}

.title {
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 200;
  margin-bottom: 30px;
}

#about {
  margin-bottom: 80px;
}
#about .career {
  font-family: "Shippori Antique B1", sans-serif;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 30px;
}

#portfolio {
  margin-bottom: 80px;
}
#portfolio .portfolio_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
#portfolio .portfolio_list:hover ul {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
#portfolio .portfolio_list ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-animation: infinity-scroll-left 30s infinite linear 0.5s both;
          animation: infinity-scroll-left 30s infinite linear 0.5s both;
}
#portfolio .portfolio_list ul li img {
  width: 33.3333333333vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#portfolio .portfolio_list ul li img:hover {
  opacity: 0.8;
}
#portfolio .portfolio_list ul li a {
  display: block;
  height: 33.3333333333vh;
}
@-webkit-keyframes infinity-scroll-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes infinity-scroll-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
#portfolio .portfolio_list_2 ul {
  -webkit-animation: infinity-scroll-left_2 30s infinite linear 0.5s both;
          animation: infinity-scroll-left_2 30s infinite linear 0.5s both;
}
@-webkit-keyframes infinity-scroll-left_2 {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes infinity-scroll-left_2 {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#contact {
  margin-bottom: 80px;
}
#contact div {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
#contact .github_link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
#contact .github_link a .github_icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 12px;
}
#contact .twitter_link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
#contact .twitter_link a .twitter_icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 12px;
}
#contact .mail_address_link {
  grid-area: mail_address_link;
}
#contact .mail_address_link span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 100;
  margin-right: 12px;
  width: 60px;
  height: 60px;
  font-size: 3rem;
  border-radius: 100%;
  border: 1px black solid;
  color: black;
  background-color: white;
}
#contact .mail_address_link a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}/*# sourceMappingURL=style.css.map */